
:github {
    --bg-bg: #242832
    --fg-bg: #2C354A
    --primary: #7B68EE
    --secondary: #78F1C3
    --tertiary: #7BE4FC
    --eyecatch: #FF9558
    --text: #FFFFF0
}

:rainy {
    --bg-bg: #012A3C
    --fg-bg: #02394B
    --primary: #8287CF
    --secondary: #F41DC8
    --tertiary: #FE6067
    --blue: #49BCD3
    --green: #E2FF65
    --ivory: #FFFFF0
}

