
:github {
    --bg-bg: #242832
    --fg-bg: #2C354A
    --primary: #7B68EE
    --secondary: #78F1C3
    --tertiary: #7BE4FC
    --eyecatch: #FF9558
    --text: #FFFFF0
}

/* 
Neon city (blue): https://www.realtimecolors.com/?colors=e7eff9-090f16-6fa5fb-fb50fb-00ffff&fonts=Exo%202-Ubuntu
Neon city (purple): https://www.realtimecolors.com/?colors=e7eff9-090f16-6f0fc2-fb50fb-00ffff&fonts=Exo%202-Ubuntu
Stellar: https://www.realtimecolors.com/?colors=e7eff9-090f16-6f0fc2-181e53-fc8236&fonts=Exo%202-Ubuntu
Sweet dark: https://www.realtimecolors.com/?colors=e7eff9-090f16-6f0fc2-181e53-f86de1&fonts=Exo%202-Ubuntu
*/
